<div ng-if="isLogin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom">
        <a class="navbar-brand" href="javascript:;">MC云玩家</a>
        <div class="d-lg-none">
            <div class="dropdown d-inline-block">
                <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    管理菜单
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:;" ng-click="link_setting()">连接设置</a>
                    <a class="dropdown-item" href="javascript:;" ng-click="loginAndLogout()">{{select_link.config.userConfig.islogin?'登出服务器':'登录服务器'}}</a>
                    <a class="dropdown-item" href="javascript:;" ng-click="openModal('my_links')">我的连接</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;" ng-click="showTime = !showTime">{{showTime?"隐藏日志时间":"显示日志时间"}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;" ng-click="openModal('change_my_password')">修改密码</a>
                    <a class="dropdown-item" href="javascript:;" ng-click="logout()">退出登录</a>
                    <div class="dropdown-divider" ng-if="isAdmin"></div>
                    <a class="dropdown-item" href="javascript:;" ng-if="isAdmin" ng-click="openModal('modal_users')">用户管理</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mr-auto flex-nowrap">
                <li class="nav-item ng-hide">
                    <a class="nav-link text-dark" href="javascript:;">我的连接</a>
                </li>
                <li class="nav-item text-dark p-1">
                    {{status.username?status.username:'无用户'}}:{{select_link.config.userConfig.islogin?'已连接':'未连接'}}
                </li>
                <li class="nav-item text-dark p-1">
                    生命值{{health.health}}
                </li>
                <li class="nav-item text-dark p-1">
                    饥饿值{{health.food}}
                </li>
                <li class="nav-item text-dark p-1">
                    饱食度{{health.foodSaturation}}
                </li>
            </ul>
            <div class="d-none d-lg-block ml-2">
                <div class="dropdown d-inline-block">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        管理菜单
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="javascript:;" ng-click="link_setting()">连接设置</a>
                        <a class="dropdown-item" href="javascript:;" ng-click="loginAndLogout()">{{select_link.config.userConfig.islogin?'登出服务器':'登录服务器'}}</a>
                        <a class="dropdown-item" href="javascript:;" ng-click="openModal('my_links')">我的连接</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;" ng-click="showTime = !showTime">{{showTime?"隐藏日志时间":"显示日志时间"}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;" ng-click="openModal('change_my_password')">修改密码</a>
                        <a class="dropdown-item" href="javascript:;" ng-click="logout()">退出登录</a>
                        <div class="dropdown-divider" ng-if="isAdmin"></div>
                        <a class="dropdown-item" href="javascript:;" ng-if="isAdmin" ng-click="openModal('modal_users')">用户管理</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="lmc-content">
        <div class="lmc-content-warp">
            <div class="lmc-defaultinfo">
                <p>欢迎来到MC云服务</p>
                <p>在这里你可以云挂机</p>
                <p>云挂机目前支持的功能有：</p>
                <p>1.登录服务器</p>
                <p>2.死亡自动重生</p>
                <p>3.掉线自动重连（只进行了初步测试）</p>
                <p>4.自动钓鱼（只支持部分版本）</p>
                <p>5.自动攻击（只支持部分版本）</p>
                <p>6.自动喊话（包括命令）</p>
                <p>由于挂机是在服务器上进行，所以所有用户是使用同一个IP登录，所以谨防被BAN IP，同时由于其他玩家的行为导致IP被BAN后无法登录概不负责</p>
                <p>由于挂机是在服务器上进行，所以需要一个服务器运行程序，同时为了防止挂机泛滥，所以目前的策略是收费制，每条线路收费5元/月，每条线路可以使用一个帐号登录一个服务器，可以自己编辑帐号信息和需要连接的服务器</p>
                <p>由于挂机是在服务器上进行，所以挂机是需要将游戏帐号密码发送到程序服务器的，虽然服务器对每个密码都使用了不同的密钥进行加密，且本人承诺不查任何帐号密码，但使用时还请做好帐号保护工作，如帐号被盗概不负责</p>
                <p>---</p>
            </div>
            <div class="lmc-message">
                <p ng-repeat="msg in message">
                    <span ng-show="showTime" class="lmc-message-time">{{msg.time|int2date}} </span>
                    <span ng-if="msg.type==='error'" class="text-danger"> [错误信息] </span>
                    <span ng-if="msg.type==='info'" class="text-info"> [提示信息] </span>
                    <span ng-bind-html="msg.message|unsafe" ng-class="{'text-danger':msg.type=='error','text-info':msg.type=='info'}"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="fixed-bottom bg-dark lmc-chat">
        <form ng-submit="onchat()">
            <input ng-model="chat.message" placeholder="在这里输入文字或命令然后按回车以聊天或使用命令" />
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>
    </div>
</div>