<modal id="change_my_password" background-close="0">
    <div class="lmc-modal">
        <div class="lmc-modal-warp">
            <div class="lmc-modal-body">
                <h2 class="text-center">修改密码</h2>
                <hr>
                <p>修改我在MC云玩家的密码</p>
                <input type="password" class="form-control mb-3" ng-model="change_password_data.new" placeholder="输入新密码" aria-describedby="basic-addon2">
                <input type="password" class="form-control" ng-model="change_password_data.re" placeholder="验证新密码" aria-describedby="basic-addon2">
                <hr>
                <div class="text-right">
                    <button class="btn btn-info" ng-click="dochangepassword()">确定</button>
                    <button class="btn btn-info" ng-click="closeModal('change_my_password');">关闭</button>
                </div>
            </div>
        </div>
    </div>
</modal>